/* 
 - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* default: 10px */
  /* 10 / 16 * 100 = 62.5 */
  font-size: 16px;
  /* font-size: 62.5%; */
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f8f8;
  background-color: #080808;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: serif;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.email__input {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon {
  position: absolute;
  top: 60%;
  right: 1.25rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  transition: all 2s ease-in-out;
}

.fa-exclamation-circle {
  color: #e4202d;
}

.fa-check-circle {
  color: #27c569;
}

.icon i.far fa-envelope {
  color: #f8f8f8;
}

.email {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.25rem;
  font-weight: 300;
  background-color: transparent;
  outline: none;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  color: inherit;
}

.email:hover,
.email:focus,
.email:active {
  border: 1px solid transparent;
  border-bottom: 1px solid #f8f8f8;
  border-radius: 0;
  color: #f8f8f8;
}

.message {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-top: 0.75rem;
  font-size: 1.5rem;
  font-weight: 600;
  height: 1.5rem;
  transition: all 2s ease-in-out;
}

.message.invalid {
  color: #e4202d;
}

.message.valid {
  color: #27c569;
}

@media (max-width: 59em) {
  html {
    /* 8rem/16px = 0.5 */
    font-size: 75%;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 45%;
  }
}
